<h1>Editing a Skill:</h1>

<form action="/skills/<%= @skills.id %>" method="post">
  <p>Name:</p>
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='skill[title]' value="<%= @skills.title %>"/><br/>
  <p>Description:</p>
  <textarea name='skill[description]'><%= @skills.description %></textarea><br/>
  <input type='submit'/>
</form>
