<!DOCTYPE html>
<html>
<head>
<nav id ="layout_nav">
    <div class="navbar-header navbar-brand">
      <img alt="Brand" id="image_brand" src="https://cdn2.iconfinder.com/data/icons/flaticons-solid/16/skill-1-512.png">
  </div>
  <a type="button" class="btn btn-default navbar-btn" href="/skills">Skill List</a>
  <a type="button" class="btn btn-default navbar-btn" href="/skills/new">New Skill</a>
  <a type="button" class="btn btn-default navbar-btn" href="/clear">Delete All Skills</a>
</div>
</nav>
  <link rel="stylesheet" href="/application.css">
<br></br>
<div class="panel" id="body_panel">
</head>
  <body>
    <%= yield %>
  </body>
</div>
</html>
