
<div class="special_div">
  <form action="/skills" method="post">
    <h1>Enter Skill:</h1>
    <p>name:</p>
    <input type='text' name='skill[title]'/><br/>
    <p>description:</p>
    <textarea name='skill[description]'></textarea><br/>
    <br></br>
    <!-- <textarea name='skill[image]'></textarea><br/> -->
    <input type='submit'/>
  </form>
</div>
